{% load static %}
<!DOCTYPE html>
<html lang="ru">
  <head>
    {% block links %}
      <link rel="stylesheet" href="{% static 'fonts/fonts.css' %}">
      <link rel="stylesheet" href="{% static 'css/base-reset.css' %}">
      <link rel="stylesheet" href="{% static 'css/doc_ctrl/doc_base.css' %}">
    {% endblock %}
  </head>
  <body class="body">
    <div class="page-wrapper">
      <header class="header">
        {% block header %}
          <p class="header-title">Контроль исполнения документов</p>
        {% endblock %}
      </header>
      <main class="main">
        {% block main %}
          <h1>Здесь будет основной контент...</h1>
        {% endblock %}
      </main>
      <footer class="footer">
        {% block footer %}
          <h2>Подвал страницы</h2>
        {% endblock %}
      </footer>
    </div>
  </body>
</html>
