{% extends 'ordcontrol/ord_base.html' %}

{% block aside_panel %}
Здесь пока ничего нет!!!
{% endblock %}

{% block ord_content %}
  <div class="ord-edit-container">
    <h1>Редактирование документа</h1>

    <form id="doc-form" method="post">
      {% csrf_token %}

      <!-- Поля документа Ord -->
      <fieldset class="doc-form-section">
        <legend>Данные документа</legend>
          <table>
            {{ form.as_table }}
          </table>
      </fieldset>

        <!-- Блок ответственных: OrdResponsible -->
      <fieldset class="doc-form-section">
        <legend>Ответственные лица</legend>
          <table class="ord-table">
            <colgroup>
            <col style="width: 15%;">   <!-- Ответственное лицо -->
            <col style="width: 20%;">   <!-- Роль -->
            <col style="width: 40%;">   <!-- Задача -->
            <col style="width: 5%;">   <!-- Бессрочно -->
            <col style="width: 10%;">   <!-- Срок исполнения -->
            <col style="width: 10%;">    <!-- Кнопка Удалить -->
          </colgroup>
            <thead>
              <tr>
                <th>
                  Ответственное лицо
                  <button type="button" id="add-responsible-btn">
                    +
                  </button>
                </th>
                <th>Роль</th>
                <th>Задача</th>
                <th>Бессрочно</th>
                <th>Срок исполнения</th>
                <th>Кнопки</th>
              </tr>
            </thead>
            <tbody id="responsibles-body">
            {% if responsibles %}
              {% for resp in responsibles %}
                <tr class="responsible-row">
                  <td>
                    <select name="responsibles_person[]" class="width100">
                      {% for person in people %}
                        <option
                          value="{{ person.id }}"
                          {% if person.id == resp.person_id %} selected {% endif %}
                        >
                          {{ person.full_name_initials }}
                        </option>
                      {% endfor %}
                    </select>
                  </td>
                  <td>
                    <input
                      type="text"
                      name="responsibles_role[]"
                      placeholder="Например: контролёр"
                      value="{{ resp.role }}"
                      class="width100"
                      required
                    >
                  </td>
                  <td><textarea name="responsibles_task[]" rows="2" class="width100">{{ resp.task|default:"" }}</textarea></td>
                  <td>
                    <input
                      type="checkbox"
                      {% if resp.is_indefinite %} checked {% endif %}
                      value=""
                      onchange="toggleDeadline(this)"
                    >
                  </td>
                  <td>
                    <input
                      type="hidden"
                      name="responsibles_deadline[]"
                      class="deadline-hidden-field"
                      value="{{ resp.deadline|date:'Y-m-d' }}"
                    >
                    <input
                      type="date"
                      class="deadline-date-field"
                      disabled
                      onchange="addDateToHidden(this, this.previousElementSibling)"
                      value="{{ resp.deadline|date:'Y-m-d' }}"
                    >
                  </td>

                  <td>
                    <button type="button" class="remove-row-btn">
                      Удалить
                    </button>
                  </td>
                </tr>
              {% endfor %}
            {% endif %}
            </tbody>
          </table>
      </fieldset>

      <a href="{% url 'ordcontrol:ord_list' %}">
        <button type="button">
          Отменить
        </button>
      </a>
      <button type="submit">
        Сохранить изменения
      </button>
    </form>
  </div>

  <!--Подключаем template для строки с ответственным и JavaScript-->
  {% include 'ordcontrol/includes/responsibles_table_row.html' %}

</div>
{% endblock %}
