{% load static %}
<!DOCTYPE html>
<html lang="ru">
  <head>
    {% block links %}
      <link rel="stylesheet" href="{% static 'fonts/fonts.css' %}">
      <link rel="stylesheet" href="{% static 'css/base-reset.css' %}">
      <link rel="stylesheet" href="{% static 'css/variables.css' %}">
      <link rel="stylesheet" href="{% static 'css/doc_ctrl/doc_base.css' %}">
      <svg style="display: none;">
        {% include "doc_ctrl/icons-sprite.svg" %}
      </svg>
    {% endblock %}
  </head>
  <body class="body">
    <div class="page-wrapper">
      <header class="header">
        <div class="logo-btn">
          <a href="{% url 'doc_ctrl:doc_list' %}">DOCMAN</a>
        </div>
        <div>
          {% block header %}
          {% endblock %}
        </div>
      </header>
      <main class="main">
        {% block main %}
          <!-- Здесь размещается основной контент... -->
        {% endblock %}
      </main>
      <footer class="footer">
        {% block footer %}
        {% endblock %}
      </footer>
    </div>
  </body>
</html>
