{% load doc_tags %}

<div class="doc-cards">
  {% for doc in docs %}
    <div class="doc-card">

      <!-- Верхняя полоса: Статус + Тип + Номер -->
      <div class="card-header">
        <span class="status-badge status-{{ doc.status|lower }}">
          {{ doc.get_status_display }}
        </span>
        <span class="card-type">{{ doc.doc_type.type }}</span>
        <div>
          <strong class="card-number">№{{ doc.number }}</strong>
          <div class="card-date">от {{ doc.date|date:"d.m.Y" }}</div>
        </div>
      </div>

      <!-- Основной блок карточки -->
      <div class="card-body">
        <!-- Верхняя часть основного блока -->
        <div class="card-body-upper-block">
          <!-- Заголовок и срок действия документа -->
          <div class="card-docinfo">
            <h3 class="card-title">{{ doc.title }}</h3>

            <div class="card-period">
              Период:
                {% if doc.valid_from_date %}{{ doc.valid_from_date|date:"d.m.Y" }}{% else %}—{% endif %}
                —
                {% if doc.valid_to_date %}{{ doc.valid_to_date|date:"d.m.Y" }}{% else %}—{% endif %}
            </div>
          </div>

          <!-- Файлы документа -->
          <div class="card-files">
            {% if doc.files.all %}
              {% for file_obj in doc.files.all %}
                <a href="{{ file_obj.file.url }}"
                  class="card-file-link"
                  target="_blank"
                  rel="noopener noreferrer"
                  title="{{ file_obj.original_name }}">
                  <svg class="card-file-icon" width="20" height="20" fill="currentColor">
                    <use href="#{{ file_obj.extension|file_icon_name }}"></use>
                    {% comment %} <use href="#icon-pdf"></use> {% endcomment %}
                  </svg>
                </a>
              {% endfor %}
            {% else %}
              <span class="card-files-empty">Нет файлов</span>
            {% endif %}
          </div>
        </div>

        <!-- Ответственные (твои карточки) -->
        <div class="card-responsibles">
           {% if doc.responsibles.all %}
             {% for resp in doc.responsibles.all %}
               <div class="card-resp-chip">
                 {{ resp.person.full_name_initials }}
                 <small>({{ resp.role|truncatechars:10 }})</small>
               </div>
             {% endfor %}
           {% else %}
             <span class="card-resp-absence">Нет ответственных</span>
           {% endif %}
        </div>
      </div>

      <!-- Действия внизу карточки -->
      <div class="card-actions">
        <a href="{% url 'doc_ctrl:doc_detail' doc.pk %}" class="card-btn">Подробнее...</a>
        <a href="{% url 'doc_ctrl:doc_edit' doc.pk %}" class="card-btn">Редактировать</a>
        <a href="{% url 'doc_ctrl:doc_delete' doc.pk %}" class="card-btn">Удалить</a>
      </div>

    </div>
  {% endfor %}
</div>
