{% extends "doc_ctrl/doc_base.html" %}


{% block main %}
    <h1>Вы собираетесь удалить {{ instance.ord_type }} № {{ instance.number }} от {{ instance.date }}</h1>
      <form action="" method="post">
        {% csrf_token %}
        <hr>
        <div class="button-container_confirmation">
          <a href="{% url 'doc_ctrl:doc_list' %}">
            <button type="button">Отменить</button>
          </a>
          <button type="submit">Подтвердить удаление</button>
        </div>
      </form>
{% endblock %}