













<div class="files-upload-block">
  <label class="upload-label">
    <input type="file" name="files" multiple accept=".pdf,.docx" id="files-input">
    <span>Выберите файлы (PDF, DOCX)</span>
  </label>
  <p class="help-text">Можно выбрать сразу несколько файлов.</p>
</div>

<div class="chosen-files-list" id="chosen-files-list">
  <p class="chosen-files-empty" id="chosen-files-empty">Новые файлы не выбраны</p>
</div>

<template id="chosen-file-template">
  <div class="chosen-file-item">
    <span class="chosen-file-icon"></span>
    <span class="chosen-file-name"></span>
    <span class="chosen-file-size"></span>
    <button type="button" class="chosen-file-remove" title="Убрать файл">×</button>
  </div>
</template>



















